/* Container for the entire section */
.objective-section {
    text-align: center;

  }
  
  /* Styling for the objective text */
  .objective-heading {
    font-family: 'Jost', sans-serif;
    font-size: 2rem; /* 32px / 16 = 2rem */
    font-weight: 600;
    line-height: 3rem; /* 46.24px / 16 = 2.89rem */
    padding-top: 2%;
    color: black;
    padding-bottom: 3%;
  }
  
  /* Content section to hold the background image and overlay */
  .image-container {
    position: relative;
    object-fit: cover;
  }
  
  /* Background image styling */
  .background-img {
    width: 100%;
    height: auto;

  }
  
  /* Overlay to display text over the image */
  .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 17%;
    align-items: center;
    
  }
  
  .headline-text {
    font-family: 'jost';
    font-size: 5.86rem;
    font-weight: 600;
    color:rgba(0, 0, 0, 1);
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 4%;
  }
  
  .by-span{
    font-family: 'jost';
    font-size: 2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    padding-right: 20px;
   
  }

  .tree{
    font-family: 'jost';
    font-size: 5.86rem;
    font-weight: 700;
    color: white;
  }