@tailwind base;
@tailwind components;
@tailwind utilities;

/* Footer.css */

.footer {
  background-image: url("/src/assets/footer-bg.jpg");
  background-size: cover;
  background-position: center;
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hover-parent:hover .hover-child-1 {
  opacity: 0;
}
.hover-parent:hover .hover-child-2 {
  opacity: 100;
}

@font-face {
  font-family: "Jost-Bold700";
  src: url("./assets/fonts/jost/Jost-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Jost-Bold600";
  src: url("./assets/fonts/jost/Jost-SemiBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost-Bold600";
  src: url("./assets/fonts/jost/Jost-SemiBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost-Normal";
  src: url("./assets/fonts/jost/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "inter-Bold";
  src: url("./assets/fonts/inter/Inter-Medium.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "inter-Normal";
  src: url("./assets/fonts/inter/Inter-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
